---
layout: default
title: Light Bulbs
navigation: 20
---
<!-- ######################################################################  -->
{% assign category = site.templates | where: "category", "bulb" %}
{% assign type_group = category | group_by: 'type' %}
{% assign type_grouped = type_group | sort: "name" %}
{% for group in type_grouped %}
<BR>
<h3>{{ group.name | replace: "RGBCCT", "RGB + Color Temperature" | replace: "WW", "Dimmable Warm White" | replace: "CW", "Dimmable Cool White" | replace: "CCT", "Color Temperature"  }}</h3>
<table id="{{ group.name }}" width="80%">
    <tbody>
    {% assign grouptitlesorted = group.items | sort_natural: 'title' %}     
    {% for template in grouptitlesorted %}
    {% include tablerow_standard.html %}
    {% endfor %}
</tbody>
</table>
{% endfor %}
