---
layout: default
title: ESP32 Based Devices
---
<h2>{{ page.title }}</h2>

<!-- ######################################################################  -->
<table width="80%">
    <tbody>
    {% assign devices = site.templates | where_exp: "devices", "devices.template32 != nil" | sort_natural: 'title' %}     
    {% for template in devices limit: 100 %}
    {% include tablerow_standard.html %}
    {% endfor %}
</tbody>
</table>

<h2>ESP32-C3 Based Devices</h2>

<!-- ######################################################################  -->
<table width="80%">
    <tbody>
    {% assign devices = site.templates | where_exp: "devices", "devices.templatec3 != nil" | sort_natural: 'title' %}     
    {% for template in devices limit: 100 %}
    {% include tablerow_standard.html %}
    {% endfor %}
</tbody>
</table>

<h2>ESP32-S2 Based Devices</h2>

<!-- ######################################################################  -->
<table width="80%">
    <tbody>
    {% assign devices = site.templates | where_exp: "devices", "devices.templates2 != nil" | sort_natural: 'title' %}     
    {% for template in devices limit: 100 %}
    {% include tablerow_standard.html %}
    {% endfor %}
</tbody>
</table>

<h2>ESP32-S3 Based Devices</h2>

<!-- ######################################################################  -->
<table width="80%">
    <tbody>
    {% assign devices = site.templates | where_exp: "devices", "devices.templates3 != nil" | sort_natural: 'title' %}     
    {% for template in devices limit: 100 %}
    {% include tablerow_standard.html %}
    {% endfor %}
</tbody>
</table>
