---
layout: default
title: EU Devices
---
<!-- ######################################################################  -->
{% assign standard_global = site.templates | where: "standard", "global" %}
{% assign standard = standard_global %}

<h3>Plugs, Sockets & Power Strips</h3>
<table id="Devices" width="80%">
<tbody>
{% assign plug = standard | where: "category", "plug" %}
{% for template in plug %}
{% include tablerow.html %}
{% endfor %}
</tbody>
</table>

<!-- ######################################################################  -->
<h3>Lights</h3>
<table id="Devices" width="80%">
<tbody>
{% assign light = standard | where: "category", "light" %}
{% for template in light %}
{% include tablerow.html %}
{% endfor %}
</tbody>
</table>

<!-- ######################################################################  -->
<h3>Switches & Dimmers</h3>
<table id="Devices" width="80%">
<tbody>
{% assign switch = standard | where: "category", "switch" %}
{% for template in switch %}
{% include tablerow.html %}
{% endfor %}
</tbody>
</table>
<!-- ######################################################################  -->
<h3>Miscellaneous</h3>
<table id="Devices" width="80%">
<tbody>
{% assign misc = standard | where: "category", "misc" %}
{% for template in misc %}
{% include tablerow.html %}
{% endfor %}
</tbody>
</table>
