---
layout: page
title: Tasmota Device Templates Repository
---
<h3>Tasmota Device Templates Repository</h3>
<h4>{% assign counter = 0 %}{% for item in site.templates %}{% assign counter=counter | plus:1 %}{% endfor %}{{ counter }} devices submitted by the community</h4>
<h5>Devices by electrical standard:</h5>
{% assign category = site.templates | where: "category", "plug" %}
{% assign standard_group = category | map: 'standard' | join: ',' | split: ',' | uniq | sort_natural %}
{% for std in standard_group %}
<a class="button button-large button-grey" href="{{ std }}.html">{{ std | upcase }}</a>
{% endfor %}
<br>
{% assign category = site.templates | where: "category", "bulb" %}
{% assign standard_group = category | map: 'standard' | join: ',' | split: ',' | uniq | sort_natural %}
{% for std in standard_group %}
<a class="button button-large button-grey" href="{{ std }}.html">{{ std | upcase }}</a>
{% endfor %}
<a class="button button-large button-grey" href="all.html">ALL</a>
<p>
   <span style="font-size:0.6em;">See <a href="https://www.worldstandards.eu/electricity/spread-plug-types-map/" target="_blank">world map of plugs</a> and <a href="https://www.bulbs.com/learning/basechart.aspx" target="_blank">light bulb base list</a> for more information.</span>
<p>
<h5>Devices by type:</h5>
<a class="button button-large button-grey" href="bulb.html">BULBS</a>
<a class="button button-large button-grey" href="plug.html">PLUGS</a>
<a class="button button-large button-grey" href="light.html">LIGHTS</a>
<a class="button button-large button-grey" href="switch.html">SWITCHES</a>
<a class="button button-large button-grey" href="misc.html">MISCELLANEOUS</a>
<a class="button button-large button-grey" href="unsupported.html">UNSUPPORTED</a>
<p></p>
<div><b>Due to an influx of non-ESP82xx devices we're opening submissions for Unsupported devices! </b></div>
<p>
<div>
    <a class="button button-large button-grey" href="new.html">Add new template</a> 
    <a class="button button-large button-grey" href="new-unsupported.html">Add unsupported device</a>
</div>
<p>
    <h3>Recently added devices:</h3>
<ul>
{% assign sorted = site.templates  | sort: "date_added" | reverse %}
{% for template in sorted limit:9 %}
<li><a class="menu" href="{{site.baseurl}}{{ template.url }}">{{ template.title }} 
        {% assign standard_list = template.standard %} 
        {% for item_standard in standard_list %}
        {{ item_standard | upcase }} 
        {% endfor %}
        {{ template.type }}
        {% if template.category contains 'bulb'%}
        Bulb
        {% endif %}        
    </a>
</li>
{% endfor %}
</ul>
<span style="font-size:0.6em;">As an Amazon Associate I earn from qualifying purchases from provided device links.</span>
