---
layout: default
title: Unsupported Devices
---
<h2>{{ page.title }}</h2>

<!-- ######################################################################  -->
{% assign category = site.unsupported %}
{% assign type_group = category | group_by: 'category' %}
{% assign type_grouped = type_group | sort: 'name' %}
{% for group in type_grouped %}
<BR>
<!-- <h3>{{group.name}}</h3> -->
<table id="{{group.name}}" width="80%">
    <tbody>
    {% assign grouptitlesorted = group.items | sort_natural: 'title' %}     
    {% for template in grouptitlesorted %}
    {% include tablerow.html %}
    {% endfor %}
</tbody>
</table>
{% endfor %}
