---
layout: default
title: US Devices
navigation: 4
---
<!-- ######################################################################  -->
{% assign standard_country = site.templates | where: "standard", "us" | sort: 'title' %}
{% assign standard_global = site.templates | where: "standard", "global" | sort: 'title' %}
{% assign standard = standard_country | concat: standard_global %}

<h3>Plugs, Sockets & Power Strips</h3>
<table id="Devices" width="80%">
<tbody>
{% assign plug = standard | where: "category", "plug" | sort: 'title' %}
{% for template in plug %}
{% include tablerow.html %}
{% endfor %}
</tbody>
</table>

<!-- ######################################################################  -->
<h3>Lights</h3>
<table id="Devices" width="80%">
<tbody>
{% assign light = standard | where: "category", "light" | sort: 'title' %}
{% for template in light %}
{% include tablerow.html %}
{% endfor %}
</tbody>
</table>

<!-- ######################################################################  -->
<h3>Switches & Dimmers</h3>
<table id="Devices" width="80%">
<tbody>
{% assign switch = standard | where: "category", "switch" | sort: 'title' %}
{% for template in switch %}
{% include tablerow.html %}
{% endfor %}
</tbody>
</table>
<!-- ######################################################################  -->
<h3>Relays</h3>
<table id="Devices" width="80%">
<tbody>
{% assign switch = standard | where: "category", "relay" | sort: 'title' %}
{% for template in switch %}
{% include tablerow.html %}
{% endfor %}
</tbody>
</table>
<!-- ######################################################################  -->
<h3>Miscellaneous</h3>
<table id="Devices" width="80%">
<tbody>
{% assign misc = standard | where: "category", "misc" | sort: 'title' %}
{% for template in misc %}
{% include tablerow.html %}
{% endfor %}
</tbody>
</table>
