<div id="navigation" class="navigation">
  <div style="text-align: center; ">
    <a class="button button button-black" href="new.html">Add new template</a><a class="button button button-black" href="new-unsupported.html">Add unsupported device</a>
    <br>
    <a href="https://paypal.me/tasmotatemplates"><img src="https://img.shields.io/static/v1?logo=paypal&label=&message=donate&color=slategrey"></a>
    <span style="font-size:0.7em;">When purchasing through supported device affiliated links you support this site!</span>
  </div>
</div>