<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">


<!-- Define multiple use variables -->

{% capture description %}
{% if page.template != nil or page.template9 != nil or page.template32 != nil %}
Configure your smart {{ page.type | replace: "Miscellaneous", "device" | downcase | replace: "led", "LED" | replace: "diy", "" | replace: "cct", "color temperature adjustable" | replace: "rgbw", "RGB and white color" | replace: "rgb", "RGB color" | replace: "rgbcct", "RGB and color temperature adjustable"}}{% if page.category contains 'bulb'%} bulb{% endif %} to work with Tasmota open source firmware. 
{% elsif page.category == "unsupported" %} Caution! {{ page.title | escape }} {{ page.type | escape }} cannot be flashed with Tasmota. 
{% else %} {{ site.description | escape }} {% endif %}
{% endcapture %}


{% capture pagetitle %}
{% if page.template != nil or page.template9 != nil or page.template32 != nil %}
  {{ page.title | escape }} {% include pow.html %} {{ page.type | replace: "Miscellaneous", "" }} {% if page.category contains 'bulb'%}Bulb{% endif %} {% if page.model != nil %}({{ page.model | escape }}){% endif %} Template for Tasmota {% elsif page.category == "unsupported" %}{{ page.title | escape }}{{ page.type | escape }} is not supported by Tasmota! {% else %}{{ page.title | escape }} - Templates for Tasmota {% endif %}
{% endcapture %}

  <!-- HTML Meta Tags -->

<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"> 
<link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
<meta name="keywords" content="tasmota, templates, tuya, esp8266, esp8285, template, gpio, smarthome, home assistant, smart home, diy, wifi, wi-fi, openhab">  
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

<!-- General Tags -->
<title>{{ pagetitle | strip }}</title> 

<meta name="title" content="{{ pagetitle | strip }}">
<meta name="description" content="{{ description | strip }}">

<!-- Google / Search Engine Tags -->
<meta itemprop="name" content="{{ pagetitle | strip }}">
<meta itemprop="description" content="{{ description | strip }}">
<meta itemprop="image" content="{{ page.image | absolute_url }}">

<meta property="og:type" content="website">
<meta property="og:title" content="{{ pagetitle | strip }}">
<meta property="og:description" content="{{ description | strip }}">
<meta property="og:image" content="{{ page.image | absolute_url }}">
<meta property="og:url" content="{{ page.url | replace:'index.html','' | absolute_url }}">
												 
<!-- Twitter Meta Tags -->
<meta property="twitter:title" content="{{ pagetitle | strip }}">
<meta property="twitter:description" content="{{ description | strip }}">
<meta property="twitter:image" content="{{ page.image | absolute_url }}">
<meta property="twitter:card" content="summary">
<meta property="twitter:site:id" content="blakadder_">
<meta property="twitter:creator:id" content="blakadder_">
{% include styles.html %}

{% if site.google_analytics and jekyll.environment == 'production' %}
{% include analytics.html %}
{% endif %}

{% feed_meta %}
  
</head>
