{% if link contains "banggood" %}
{{ link | append: "?p=CM27171011078201412U" }}
{% elsif link contains "gearbest" %}
{{ link | append: "?lkid=77716356" }}
{% elsif link contains "amazon.de" %}
{{ link | append: "?tag=tasmotatempla-21" }}
{% elsif link contains "amazon.co.uk" %}
{{ link | append: "?tag=tasmotatemp0a-21" }}
{% elsif link contains "amazon.com.au" %}
{{ link | append: "?tag=blakadder-22" }}
{% elsif link contains "amazon.com" %}
{{ link | append: "?tag=blakaddertemp-20" }}
{% elsif link contains "amazon.ca" %}
{{ link | append: "?tag=tasmotatemp03-20" }}
{% elsif link contains "amazon.fr" %}
{{ link | append: "?tag=blakaddertemp-21" }}
{% elsif link contains "amazon.es" %}
{{ link | append: "?tag=blakadderte02-21" }}
{% elsif link contains "amazon.it" %}
{{ link | append: "?tag=blakaddert0a2-21" }}
{% elsif link contains "amazon.se" %}
{{ link | append: "?tag=blakadder06-21" }}
{% elsif link contains "amazon.nl" %}
{{ link | append: "?tag=blakadder0d4-21" }}
{% elsif link contains "amazon.pl" %}
{{ link | append: "?tag=blakadder0c9-21" }}
{% elsif link contains "www.aliexpress.com" %}
{{ link | append: "?aff_platform=portals-tool&sk=_dYc72Dj&aff_trace_key=ad46a8783ef8414cb3077511738cc481-1595436156311-00915-_dYc72Dj&terminal_id=3ac645b4aa5741e4bebe6d5c100f96fc&tmLog=new_Detail&aff_request_id=ad46a8783ef8414cb3077511738cc481-1595436156311-00915-_dYc72Dj" }}
{% elsif link contains "allegro.pl" %}
{{ link | append: "?utm_source=admitad&utm_medium=afiliacja&admitad_uid=bf5509617345a02c7d0996db63502fd7" }}
{% elsif link contains "domadoo.fr" %}
{{ link | append: "?domid=14" }}
{% elsif link contains "novostella" %}
{{ link | append: "?ref=blakadder" }}
{% elsif link contains "moeshouse.com" %}
{{ link | append: "?ref=v4thya2eufek" }}
{% elsif link contains "zemismart.com" %}
{{ link | append: "?DIST=QEVHGw%3D%3D" }}
{% elsif link contains "loratap.com" %}
{{ link | append: "DIST=REBOFQ%3D%3D" }}
{% elsif link contains "shop.m5stack.com" %}
{{ link | append: "?ref=blakadder" }}
{% elsif link contains "alza" %}
{{ link | append: "?idp=13979&banner_id=39232" }}
{% elsif link contains "idealo.de" %}
{{ link | uri_escape | prepend: "https://www.awin1.com/cread.php?awinmid=15536&awinaffid=930253&ued=" }}
{% elsif link contains "tink.de" %}
{{ link | uri_escape | prepend: "https://www.awin1.com/cread.php?awinmid=13686&awinaffid=930253&ued=" }}
{% elsif link contains "manomano.de" %}
{{ link | uri_escape | prepend: "https://www.awin1.com/cread.php?awinmid=17961&awinaffid=930253&ued=" }}
{% elsif link contains "manomano.fr" %}
{{ link | uri_escape | prepend: "https://www.awin1.com/cread.php?awinmid=17547&awinaffid=930253&ued=" }}
{% elsif link contains "conrad.com" %}
{{ link | uri_escape | prepend: "https://www.awin1.com/cread.php?awinmid=5769&awinaffid=930253&ued=" }}
{% elsif link contains "geekbuying.com" %}
{{ link | remove_first: 'https://' | uri_escape | prepend: "https://affiliate.geekbuying.com/deeplink.php?affid=3873&url=" }}
{% elsif link contains "bol.com" %}
{{ link | remove_first: 'https://' | uri_escape | prepend: "https://partner.bol.com/click/click?p=2&t=url&s=1275491&f=TXL&url=" }}
{% elsif link contains "geekmaxi.com" %}
{{ link | remove_first: 'https://' | uri_escape | prepend: "https://shareasale.com/r.cfm?b=1135651&u=2442238&m=77450&urllink=" }}
{% elsif link contains "itead.cc" %}
{{ link | append: "/ref/34/" }}
{% elsif link contains "walmart.com" %}
{{ link | remove_first: 'https://' | uri_escape | prepend: "https://ad.admitad.com/g/4jg2ecwjgpa026925063bef27d4341/?ulp=" }}
{% elsif link contains "avatarcontrols.com" %}
{{ link | remove_first: 'https://' | uri_escape | prepend: "https://shareasale.com/r.cfm?b=1651554&u=2442238&m=102746&urllink="  }}
{% elsif link contains "switch-bot.com" %}
{{ link | remove_first: 'https://' | uri_escape | prepend: "https://shareasale.com/r.cfm?b=1689064&u=2442238&m=104860&urllink="  }}
{% elsif link contains "treatlife" %}
{{ link | remove_first: 'https://' | uri_escape | prepend: "https://shareasale.com/r.cfm?b=1838946&u=2442238&m=114660&urllink="  }}
{% elsif link contains "tessan.com" %}
{{ link | remove_first: 'https://' | uri_escape | prepend: "https://shareasale.com/r.cfm?b=1930388&u=2442238&m=119947&urllink="  }}
{% elsif link contains "linkind" %}
{{ link | remove_first: 'https://' | uri_escape | prepend: "https://shareasale.com/r.cfm?b=2081732&u=2442238&m=101126&urllink="  }}
{% elsif link contains "www.alibaba.com" %}
{{ link | uri_escape | prepend: "https://offer.alibaba.com/cps/ais1lue4?bm=cps&src=saf&url=" }}
{% else %}
{{ link }}
{% endif %}