{% if link contains "banggood" %}
{{ link | append: "?p=CM27171011078201412U" }}
{% elsif link contains "gearbest" %}
{{ link | append: "?lkid=77716356" }}
{% elsif link contains "amazon.de" %}
{{ link | append: "?tag=tasmotatempla-21" }}
{% elsif link contains "amazon.co.uk" %}
{{ link | append: "?tag=tasmotatemp0a-21" }}
{% elsif link contains "amazon.com" %}
{{ link | append: "?tag=blakaddertemp-20" }}
{% elsif link contains "amazon.ca" %}
{{ link | append: "?tag=tasmotatemp03-20" }}
{% elsif link contains "amazon.fr" %}
{{ link | append: "?tag=blakaddertemp-21" }}
{% elsif link contains "amazon.es" %}
{{ link | append: "?tag=blakadderte02-21" }}
{% else %}
{{ link }}
{% endif %}