{% if link contains "banggood" %}
{{ link | append: "?p=CM27171011078201412U" }}
{% elsif link contains "gearbest" %}
{{ link | append: "?lkid=77716356" }}
{% elsif link contains "amazon.de" %}
{{ link | append: "?tag=tasmotatempla-21" }}
{% elsif link contains "amazon.co.uk" %}
{{ link | append: "?tag=tasmotatemp0a-21" }}
{% elsif link contains "amazon.com" %}
{{ link | append: "?tag=blakaddertemp-20" }}
{% elsif link contains "amazon.ca" %}
{{ link | append: "?tag=tasmotatemp03-20" }}
{% elsif link contains "amazon.fr" %}
{{ link | append: "?tag=blakaddertemp-21" }}
{% elsif link contains "amazon.es" %}
{{ link | append: "?tag=blakadderte02-21" }}
{% elsif link contains "amazon.it" %}
{{ link | append: "?tag=blakaddert0a2-21" }}
{% elsif link contains "amazon.com.au" %}
{{ link | append: "?tag=blakaddertemp-22" }}
{% elsif link contains "www.aliexpress.com" %}
{{ link | append: "?aff_platform=link-c-tool&cpt=1578089938969&sk=KTCPYBXK&aff_trace_key=6e31018ea55846f191a7242507abd946-1578089938969-05316-KTCPYBXK&terminal_id=5ab3b3bf703c438dac102dcfef054d7e" }}
{% elsif link contains "www.alibaba.com" %}
{{ link | uri_escape | prepend: "https://offer.alibaba.com/cps/ais1lue4?bm=cps&src=saf&url=" }}
{% else %}
{{ link }}
{% endif %}