{% assign cat = site.data.nav.toc %}
{% for item in cat %}
<ul class="navigation" id="navigation">
    <li><a class="{% if page.url == item.url %}active{% endif %}" href="{{ item.url | relative_url }}">{{ item.name }}</a>
        <ul class="subnav" id="subnav">
            {% for entry in item.subnav %}
            <li><a class="{% if page.url == entry.url %}active{% endif %}" href="{{ entry.url | relative_url }}">{{ entry.title }}</a></li>
            {% endfor %}
        </ul>
    </li>
</ul>
{% endfor %}
