{% capture html %}
<ul class="navigation" id="navigation">
	{% assign entries = site.pages | sort: "navigation" %}
	{% for entry in entries %}
		{% if entry.navigation %}
			<li>
				<a class="{% if page.url == entry.url entry.url %}active{% endif %}" href="{{ entry.url | relative_url }}">
					{{ entry.title }}
				</a>
			</li>
		{% endif %}
	{% endfor %}
</ul>
{% endcapture %}{{ html | strip_newlines | replace:'    ','' | replace:'    ','' | replace:'  ',' ' }}
<br><br><br>
<a class="button button-outline" href="new.html">Add new template</a>

<div class="footer">
	<a class="button button-clear" href="https://github.com/arendst/Sonoff-Tasmota/wiki">Tasmota Wiki</a>
</div>
