{% if template.template9 contains '2624' or template.template9 contains '2656' or template.template9 contains '2688' or template.template9 contains '2720' or template.template9 contains '2752' or template.template9 contains '2784' or template.template9 contains '2816' or template.template9 contains '3072' or template.template9 contains '3104' or template.template9 contains '3456' or template.template9 contains '5056' %}
Power Monitoring
{% endif %}

{% if template.template contains '131' or template.template contains '132' or template.template contains '133' or template.template contains '134' or template.template contains '135' or template.template contains '136' or template.template contains '137' or template.template contains '145' or template.template contains '146' or template.template contains '156' or template.template contains '207' %}
Power Monitoring
{% endif %}