<sidebar class="sidebar" id="sidebar">
	<div class="sidebar-mobile">
		<img src="{{ "/assets/images/menu.svg" | relative_url }}" class="menu-icon" id="menu" />
		<img src="{{ "/assets/images/close.svg" | relative_url }}" class="close-icon" id="close" />
	</div>
		<a href="{{ "index.html" | relative_url }}"><img src="{{ "/assets/images/logo.svg" | relative_url }}" alt="Logo"></a>
	{% include search.html %}
	<div class="sidebar-main">
		{% include nav.html %}
		{% include search-results.html %}<BR>
		{% include footer.html %}
	</div>
</sidebar>
