<tr>
    <td style="width: 20%"><a href="{{site.baseurl}}{{ template.url }}"><img src="{{ template.image }}" alt="{{ template.title }}" style="max-height:80px;vertical-align: middle;"></a></td>
    <td><b><a class="menu" href="{{site.baseurl}}{{ template.url }}">{{ template.title }}
        {% include pow.html %}
        {{ template.type | replace: "Miscellaneous", "" }}        
        {% if template.category contains 'bulb'%}
        Bulb
        {% endif %}
        {{ template.model }}
        {% if template.flash == "preflashed" %}
        - preflashed with Tasmota
        {% endif %}
    </a>     
        <td style="width: 1px"></td>
  </tr>
  