<tr>
    <td style="width: 20%"><img src="{{ template.image }}" alt="{{ template.title }}" style="max-height:80px;vertical-align: middle;"></td>
    <td><b><a class="menu" href="{{site.baseurl}}{{ template.url }}">{{ template.title }} {% include pow-table.html %}
        {{ template.type | replace: "Miscellaneous", "" }}        
        {% if template.category contains 'bulb'%}
        Bulb
        {% endif %}        
        </a></b>
    </td>
    <td style="width: 22%">
    {{ template.model }}        
    </td>
    <td style="width: 10%"> {% assign standard_list = template.standard %}
        {% for item_standard in standard_list %}
        {{ item_standard | upcase }}<br>
        {% endfor %} </td>
  </tr>
  