/**
* VARIABLES
*/

$base-height: 1em;
$content-width: 800px;
$sidebar-width: 300px;
$mobile-width: 745px;
$min-width: 360px;
$header-height: 50px;

$link-color: #008cff;

$sidebar-border: 1px solid rgba(0,0,0,0.07);
$sidebar-color: #364149;

$navigation-background: #fafafa;
$navigation-link-color: #008cff;

$content-color: #333;

