---
layout: default
---

<div class="float-right" style="overflow-wrap: normal; min-width: 20%; max-width: 40%">
    {% assign standard_list = page.standard %}
      {% for item_standard in standard_list %}
      <a class="button button-grey" href="{{ item_standard | downcase }}.html">{{ item_standard | upcase }}</a>
    {% endfor %} 
  <p>
        <b>
      Available from:
    </b>
    <br>
  <a class="menu" href="
  {% assign link = page.link %} 
  {% if link contains "banggood" %}
    {{ link | append: "?p=CM27171011078201412U" }}
  {% elsif link contains "gearbest" %}
    {{ link | append: "?lkid=77716356" }}
  {% elsif link contains "amazon.de" %}
    {{ link | append: "?tag=tasmotatempla-21" }}
  {% elsif link contains "amazon.co.uk" %}
    {{ link | append: "?tag=tasmotatemp0a-21" }}
{% elsif link contains "amazon.com" %}
    {{ link | append: "?tag=tasmotatempla-20" }}
 {% else %}
    {{ link }}
  {% endif %}
  ">{{ page.link | remove_first: "http://" | remove_first: "https://" | remove_first: "www." | split:'/' | first | capitalize}}</a>
  <br>
  <a class="menu" href="
  {% assign link = page.link2 %} 
  {% if link contains "banggood" %}
    {{ link | append: "?p=CM27171011078201412U" }}
  {% elsif link contains "gearbest" %}
    {{ link | append: "?lkid=77716356" }}
  {% elsif link contains "amazon.de" %}
    {{ link | append: "?tag=tasmotatempla-21" }}
  {% elsif link contains "amazon.co.uk" %}
    {{ link | append: "?tag=tasmotatemp0a-21" }}
  {% elsif link contains "amazon.com" %}
    {{ link | append: "?tag=tasmotatempla-20" }}
  {% else %}
    {{ link }}
  {% endif %}
">{{ page.link2 | remove_first: "http://" | remove_first: "https://" | remove_first: "www." | split:'/' | first | capitalize}}</a>
  <br><br>
  {% if page.link3 != nil %}
    <b>
      Manufacturer:
    </b>
    <br>
    <a class="menu" href="{{ page.link3 }}">{{ page.link3 | remove_first: "http://" | remove_first: "https://" | remove_first: "www." | split:'/' | first | capitalize}}</a>
    {% endif %}
  </div>

<h2>{{ page.title }}
    {% if page.template contains '131' or page.template contains '132' or page.template contains '133' or page.template contains '134' or page.template contains '135' or page.template contains '136' or page.template contains '137' or page.template contains '145' or page.template contains '146' or page.template contains '156'%}
      Power Monitoring
      {% endif %}
      {{ page.type }}
</h2>
<div> 
  <img src="{{ page.image }}" alt="{{ page.title }}" style="max-height: 300px">
</div>
<p>
<div class="float-right">
  <a class="button button-clear button-small menu" href="{{ site.github.repository_url }}/tree/master/{{ page.relative_path }}">
    Edit on GitHub
  </a>
</div>
<h4>Template</h4>
<pre>
    <code class="language-erlang">{{ page.template | jsonify }}</code>
</pre>
<hr>
{% if page.flash == 'tuya-convert' %}
Tasmota flashed using <a href="https://github.com/ct-Open-Source/tuya-convert" target="_blank">Tuya-Convert</a>.
{% elsif page.flash == "serial" %}
Tasmota flashed using <a href="https://tasmota.github.io/docs/#/installation/Prerequisites" target="_blank">serial</a>.
{% else %}

{% endif %}

{% if page.template contains '131' or page.template contains '132' or page.template contains '133' or page.template contains '134' or page.template contains '135' or page.template contains '136' or page.template contains '137' or page.template contains '145' or page.template contains '146' or page.template contains '156'%}
For more accurate energy consumption measurements this device needs <a href="https://tasmota.github.io/docs/#/Power-Monitoring-Calibration">power monitoring calibration</a>.
{% endif %}
<p>
{{ content | markdownify }}
