---
layout: default
---
<div class="container">

<div class="row">
  <div class="column">
    <span style="font-size: 3.25rem; font-weight: 400; letter-spacing: -.2rem;">{{ page.title }} {% include pow.html %} {{ page.type | replace: "Miscellaneous", "" }}{% if page.category contains 'bulb'%} Bulb{% endif %}{% if page.model != nil %} ({{ page.model }}){% endif %}</span> 
  </div>
</div>
<div class="row">
  <div class="column column-90">
    {% assign standard_list = page.standard %}
    {% for item_standard in standard_list %}
      <a class="button button-outline button-small" href="{{ item_standard | downcase }}.html">{{ item_standard | upcase }}</a>
    {% endfor %}  
  </div>
  <div class="column column-10">
    <button class="button button-red button-small">
      {% if page.template32 != nil %}ESP32
      {% elsif page.templates2 != nil %}ESP32-S2
      {% elsif page.templates3 != nil %}ESP32-S3
      {% elsif page.templatec3 != nil %}ESP32-C3
      {% else %}ESP8266
      {% endif %}
    </id>
  </div>
</div>
<div class="row">
  <div class="column column-60"> 
    <img src="{{ page.image }}" alt="{{ page.title }}" style="max-height: 350px; max-width: 450px;">
  </div>
  <div class="column">
    <p>
    <b>
  Available from:
      </b>
      <br>
    <a class="menu" href="{% assign link = page.link %}{% include linkage.html %}">{{ page.link | remove_first: "http://" | remove_first: "https://" | remove_first: "www." | remove_first: "smile." | remove_first: "s.click." | split:'/' | first | capitalize}}</a>
    <br>
    <a class="menu" href="{% assign link = page.link2 %}{% include linkage.html %}">{{ page.link2 | remove_first: "http://" | remove_first: "https://" | remove_first: "www." | remove_first: "smile." | remove_first: "s.click." | remove_first: "offer." | split:'/' | first | capitalize}}</a>
    <br>
    <a class="menu" href="{% assign link = page.link3 %}{% include linkage.html %}">{{ page.link3 | remove_first: "http://" | remove_first: "https://" | remove_first: "www." | remove_first: "smile." | remove_first: "s.click." | remove_first: "offer." | split:'/' | first | capitalize}}</a>
    <br>
    <a class="menu" href="{% assign link = page.link4 %}{% include linkage.html %}">{{ page.link4 | remove_first: "http://" | remove_first: "https://" | remove_first: "www." | remove_first: "smile." | remove_first: "s.click." | remove_first: "offer." | split:'/' | first | capitalize}}</a>
    <br>
    <a class="menu" href="{% assign link = page.link5 %}{% include linkage.html %}">{{ page.link5 | remove_first: "http://" | remove_first: "https://" | remove_first: "www." | remove_first: "smile." | remove_first: "s.click." | remove_first: "offer." | split:'/' | first | capitalize}}</a>
    <br><br>
    {% if page.mlink != nil %}
      <b>
  Manufacturer:
      </b>
      <br>
      <a class="menu" href="{% assign link = page.mlink %}{% include linkage.html %}">{{ page.mlink | remove_first: "http://" | remove_first: "https://" | remove_first: "www." | remove_first: "smile." | remove_first: "s.click." | split:'/' | first | capitalize}}</a>
      {% endif %}
    <br><br>

    {% if page.flash != nil %}
    <b>
      Install method:
    </b>
    <br>
      {% if page.flash == 'tuya-convert' %}
      <a class="menu" href="https://github.com/ct-Open-Source/tuya-convert" target="_blank">Tuya-Convert</a>
      {% elsif page.flash == "serial" %}
      <a class="menu" href="https://tasmota.github.io/docs/Getting-Started" target="_blank">USB to Serial</a>
      {% elsif page.flash == "sonoff-diy" %}
      <a href="https://github.com/itead/Sonoff_Devices_DIY_Tools" target="_blank">Sonoff DIY</a>
      {% elsif page.flash == "mgos" %}
      <a href="https://github.com/arendst/mgos-to-tasmota" target="_blank">MgOS to Tasmota</a>
      {% elsif page.flash == "preflashed" %}
      Tasmota pre-installed
      {% elsif page.flash == "esp2ino" %}
      <a href="https://github.com/elahd/esp2ino" target="_blank">esp2ino</a>
      {% elsif page.flash == "replace" %}
      <a href="https://blakadder.com/replace-tuya-esp12/" target="_blank">Replace module</a>
      {% elsif page.flash == "switchbota" %}
      <a href="https://github.com/kendallgoto/switchbota" target="_blank">SwitchbOTA</a>
      {% else %}
        {{ page.flash}}
      {% endif %}
    {% else %}

    {% endif %}
    <br>
    </div>
    <div class="column" style="overflow-y: auto; height: 380px;">
      {% include gpios.html %}
    </div>
</div>

{% if page.template32 != nil %}
<div class="row">
  <div class="column"><strong>Configuration for ESP32</strong></div>
  <div class="column-10"><a class="button button-outline button-small menu" href="{{ site.github.repository_url }}/tree/master/{{ page.relative_path }}">Edit on GitHub</a></div>
</div>
<div class="row">
  <div class="column column-100">
    <pre><code class="language-json" style="white-space: nowrap">{{ page.template32 }}</code></pre>
</div>
</div>
  {% if page.template32_alt != nil %}
  <div class="row">
    <div class="column column-100">
      <pre><code class="language-json" style="white-space: nowrap">{{ page.template32_alt }}</code></pre>
  </div>
  </div>
  {% endif %}
{% endif %}

{% if page.templatec3 != nil %}
<div class="row">
  <div class="column"><strong>Configuration for ESP32-C3</strong></div>
  <div class="column-10"><a class="button button-outline button-small menu" href="{{ site.github.repository_url }}/tree/master/{{ page.relative_path }}">Edit on GitHub</a></div>
</div>
<div class="row">
  <div class="column column-100">
    <pre><code class="language-json" style="white-space: nowrap">{{ page.templatec3 }}</code></pre>
</div>
</div>
{% endif %}

{% if page.templates2 != nil %}
<div class="row">
  <div class="column"><strong>Configuration for ESP32-S2</strong></div>
  <div class="column-10"><a class="button button-outline button-small menu" href="{{ site.github.repository_url }}/tree/master/{{ page.relative_path }}">Edit on GitHub</a></div>
</div>
<div class="row">
  <div class="column column-100">
    <pre><code class="language-json" style="white-space: nowrap">{{ page.templates2 }}</code></pre>
</div>
</div>
{% endif %}

{% if page.templates3 != nil %}
<div class="row">
  <div class="column"><strong>Configuration for ESP32-S3</strong></div>
  <div class="column-10"><a class="button button-outline button-small menu" href="{{ site.github.repository_url }}/tree/master/{{ page.relative_path }}">Edit on GitHub</a></div>
</div>
<div class="row">
  <div class="column column-100">
    <pre><code class="language-json" style="white-space: nowrap">{{ page.templates3 }}</code></pre>
</div>
</div>
{% endif %}

{% if page.template9 != nil %}
<div class="row">
  <div class="column"><strong>Configuration</strong></div>
  <div class="column-10"><a class="button button-outline button-small menu" href="{{ site.github.repository_url }}/tree/master/{{ page.relative_path }}">Edit on GitHub</a></div>
  </div>
<div class="row">
  <div class="column column-100">
    <pre><code class="language-json" style="white-space: nowrap">{{ page.template9 }}</code></pre>
  </div>
</div>
  {% if page.template9_alt != nil %}
  <div class="row">
    <div class="column column-100">
      <pre><code class="language-json" style="white-space: nowrap">{{ page.template9_alt }}</code></pre>
  </div>
  </div>
  {% endif %}
{% endif %}


{% if page.template != nil %}
<div class="row">
  <div class="column"><strong>Configuration (old format, will be converted to new template when applied)</strong></div>
  <div class="column-10"><a class="button button-outline button-small menu" href="{{ site.github.repository_url }}/tree/master/{{ page.relative_path }}">Edit on GitHub</a></div>
  </div>
<div class="row">
  <div class="column column-100">
    <pre><code class="language-json" style="white-space: nowrap">{{ page.template }}</code></pre>
  </div>
</div>
  <!-- Alternative template -->
  {% if page.template_alt != nil %}
  <div class="row">
    <div class="column column-100">
      <pre><code class="language-json" style="white-space: nowrap">{{ page.template_alt }}</code></pre>
  </div>
  </div>
  {% endif %}
{% endif %}

<div>
  {% if page.unsupported == true %}
  <h2>This device now comes with a Wi-Fi module incompatible with Tasmota</h2>
  {% endif %}

  {% if page.chip == "solo1" %}
    Flash only with ESP32-SOLO1 <code>tasmota32solo1...</code></a> binaries. 
    <br><br>
    <p>
  {% endif %}

  {% if page.flash == 'preflashed' %}
  <b>This device comes with Tasmota already installed!</b>
  <br><br>
  <p>
  {% endif %}

  {% if page.author == 'blak' %}
  <div style="float:right; margin:10px; text-align: center;"><img style="width:50px" src="/assets/images/blakapproved.png"> <br><b> by <a href="https://blakadder.com">blakadder</a></b></div>
  {% endif %}

  {% if page.template != nil %}
    {% assign template = page.template | split: ':' %}
    {% assign gpios = template[2] | remove: '[' | remove: '],"FLAG"' | split: ',' %}
    {% if gpios contains '131' or gpios contains '132' or gpios contains '133' or gpios contains '134' or gpios contains '135' or gpios contains '136' or gpios contains '137' or gpios contains '145' or gpios contains '146' or gpios contains '156' or gpios contains '207' %}
      For more accurate energy consumption measurements this device requires <a href="https://tasmota.github.io/docs/Power-Monitoring-Calibration">power monitoring calibration</a>.
      <br><br>
    {% endif %}
  {% elsif page.template9 != nil %}
    {% assign template = page.template9 | split: ':' %}
    {% assign gpios = template[2] | remove: '[' | remove: '],"FLAG"' | split: ',' %}
      {% if gpios contains '2624' or gpios contains '2656' or gpios contains '2688' or gpios contains '2720' or gpios contains '2752' or gpios contains '2784' or gpios contains '2816' or gpios contains '3072' or gpios contains '3104' or gpios contains '3456' or gpios contains '5056' %}
      For more accurate energy consumption measurements this device requires <a href="https://tasmota.github.io/docs/Power-Monitoring-Calibration">power monitoring calibration</a>.
      <br><br>
      {% endif %}
  {% else %}
    {% if page.template32 != nil %}
      {% assign template = page.template32 | split: ':' %}
    {% elsif page.templatec3 != nil %}
      {% assign template = page.templatec3 | split: ':' %}
    {% elsif page.templates2 != nil %}
      {% assign template = page.templates2 | split: ':' %}
    {% endif %}
    {% assign gpios = template[2] | remove: '[' | remove: '],"FLAG"' | split: ',' %}
      {% if gpios contains '2624' or gpios contains '2656' or gpios contains '2688' or gpios contains '2720' or gpios contains '2752' or gpios contains '2784' or gpios contains '2816' or gpios contains '3072' or gpios contains '3104' or gpios contains '3456' or gpios contains '7296' or gpios contains '7328' or gpios contains '8128'%}
      For more accurate energy consumption measurements this device requires <a href="https://tasmota.github.io/docs/Power-Monitoring-Calibration">power monitoring calibration</a>.
      <br><br>
      {% endif %}
  {% endif %}

  {% if page.flash == 'replace' %}
  This device uses 
  {% if page.chip != nil %}{{ page.chip }}
  {% else %}a Tasmota incompatible 
  {% endif %}
  module which needs to be replaced with
  {% 
    if page.chip contains 'C-8138'  
    or page.chip contains 'FL_M93_V1'  
    or page.chip contains 'WB3' 
    or page.chip contains 'WB3L' 
    or page.chip contains 'WB3S' 
    or page.chip contains 'WBR3' 
    or page.chip contains 'WR3' 
    or page.chip contains 'WR3E' 
    or page.chip contains 'WR3L' 
    or page.chip contains 'WR3N' 
    or page.chip contains 'CB3S' 
    or page.chip contains 'CB3L' 
    or page.chip contains 'XR3' 
  %}
  <a href="ESP-12">ESP-12</a>, <a href="ESP-C3-12">ESP-C3-12F</a> or <a href="ESP-12H">ESP-12H</a>
  {% 
    elsif page.chip contains 'CB2L' 
    or page.chip contains 'DT-BL200' 
    or page.chip contains 'WB2L' 
    or page.chip contains 'WR2L' 
    or page.chip contains 'WBR2L' 
  %}<a href="DMP-L1">DMP-L1</a> or <a href="DT-ESP-C05">DT-ESP-C05</a>
  {% 
    elsif page.chip contains 'WB2' 
    or page.chip contains 'FL_M99_V1'
    or page.chip contains 'FL_M93_V1'  
    or page.chip contains 'TW-02'
    or page.chip contains 'TYZS6' 
    or page.chip contains 'XT-BL02' 
    or page.chip contains 'WR2' 
    or page.chip contains 'WBR2' 
    or page.chip contains 'WB2S' 
    or page.chip contains 'WR2E' 
    or page.chip contains 'CB2S' 
    or page.chip contains 'WA2' 

  %}<a href="ESP-02S">ESP-02S</a>, <a href="WT-01N">WT-01N</a> or <a href="WT32C3-01N">WT32C3-01N</a> 
  {% 
    elsif page.chip contains 'WBLC5' 
    or page.chip contains 'CBLC5'
  %}<a href="ESP-01D">ESP-01D</a> 
  {% else %}<a href="diy#module">an ESP</a>
  {% endif %}
  module. Besides the module, this process will require a heat gun, soldering tools and moderate soldering skill. Read more about module replacement in <a href="https://blakadder.com/replace-tuya-esp12/" target="_blank">a detailed guide</a>.
  <br>
  <p>
  {% endif %}

  {% if page.type contains 'Curtain Switch' %}
    Requires configuring <a href="https://tasmota.github.io/docs/Blinds-and-Shutters/">shutter support</a>.
    <br><br>
    <p>
  {% endif %}
  
  {% if page.template contains '"BASE":73' %}
  Requires enabled <a href="https://tasmota.github.io/docs/PWM-dimmer-switch/">PWM Dimmer support</a>. Follow the article instructions for configuration.
  <br><br>
  <p>
  {% endif %}

  {% if page.type contains 'RGBW' %}
  See <a href="https://tasmota.github.io/docs/Lights/#4-channels-rgbw-lights">Tasmota documentation</a> on how to configure RGBW lights to your needs. 
  <br><br>
  <p>
  {% endif %}

  {% if page.flash == 'tuya-convert' %}
  <b>WARNING:</b> New Tuya devices have replaced their Wi-Fi module with one incompatible with Tasmota!!!<br>
  Tuya-Convert might not be possible for this device since the template was added ({{ page.date_added  }}).<br><br>
  <p>
  {% endif %}

  {% if page.footprint != nil %}
    {% include flash/replace.md %}
    <p>
  {% endif %}

  {% if page.build != nil %}
    {% include flash/flash.html %}
    <p>
  {% endif %}

  {% if page.autoconf == true %}
    {% include flash/autoconf.html %}
    <p>
  {% endif %}


  {% if page.flash == 'esp2ino' %}
  Can be flashed over-the-air with <a href="https://github.com/elahd/esp2ino">esp2ino Flasher</a>.
  <br><br>
  <p>
  {% endif %}

  {% if page.flash == 'switchbota' %}
  Can be flashed over-the-air with <a href="https://github.com/kendallgoto/switchbota/">SwitchbOTA</a>.
  <br><br>
  <p>
  {% endif %}

  {% if page.flash == 'esphome' %}
  Device comes with ESPHome preinstalled and can be easily converted to Tasmota via a browser. Navigate to the device IP address, in the "OTA Update" menu select a <a href="http://ota.tasmota.com/tasmota/release/">downloaded</a> Tasmota binary and click "Update".
  <br><br>
  <p>
  {% endif %}

  {% if page.link contains 'lilygo.cc' or page.link2 contains 'lilygo.cc' or page.link3 contains 'lilygo.cc' or page.link4 contains 'lilygo.cc' or page.link5 contains 'lilygo.cc' %}
  <strong>Use code <code>LILYGO5</code> when buying from lilygo.cc for a 5% discount.</strong>
  <br><br>
  <p>
  {% endif %}

  {% if page.link contains 'mediarath' or page.link2 contains 'mediarath' or page.link3 contains 'mediarath' or page.link4 contains 'mediarath' or page.link5 contains 'mediarath' %}
  <strong>Use code <code>BLAKADDER23</code> when buying from mediarath.de Tasmota category and a minimum order value of 50€ for a 10% discount. The code is valid until end of 2023.</strong>
  <br><br>
  <p>
  {% endif %}

  {% if page.title contains 'Moes' %}
  <strong>Use code <code>BLAKADDER</code> when buying from <a href="https://www.moeshouse.com/?ref=v4thya2eufek">moeshouse.com</a> store for a 20% discount.</strong>
  <br><br>
  <p>
  {% endif %}

  {% if page.title contains 'Linkind' %}
  <strong>Use code <code>LK40</code> for 40% discount on your first order or <code>LKS15</code> when buying from <a href="https://shareasale.com/r.cfm?b=2081732&u=2442238&m=101126&urllink=&afftrack=">linkind.com</a> store for a 15% discount and free shipping.</strong>
  <br><br>
  <p>
  {% endif %}

  {% if page.title contains 'M5Stack' %}
  <strong>Use code <code>BLAKADDER17</code> when buying from <a href="https://shop.m5stack.com/discount/BLAKADDER17?ref=blakadder">shop.m5stack.com</a> store for a 5% discount. </strong>
  <br><br>
  <p>
  {% endif %}


  {% if page.mlink contains 'novostella.uk' %}
  <strong>Use code <code>BLAKADDER</code> when buying directly from Novostella for a 10% discount.</strong>
  <br><br>
  <p>
  {% endif %}

  {% if page.title contains 'LoraTap' %}
  <strong>WARNING!</strong> LoraTap is using ESP8266 and Realtek Wi-Fi modules on same model devices. Check seller descriptions or contact them before buying! 
  <br><br><p>
  {% endif %}

  {% if page.title contains 'Lerlink' %}
  Manufactured by Lerlink but found under different brands (Lonsonho, Zemismart, Moes, etc)
  <br><br><p>
  {% endif %}
  
  {{ content | markdownify }} 

  {% if page.chip == "TYWE1S" %}
  <h2>Pinout</h2>
  <img src="/assets/pinouts/TYWE1S.png" title="Pinout for TYWE1S"></img>.<p>
  {% endif %}

  {% if page.chip == "TYWE2L" %}
  <h2>Pinout</h2>
  <img src="/assets/pinouts/TYWE2L.png" title="Pinout for TYWE2L"></img>.<p>
  {% endif %}

  {% if page.chip == "TYWE2S" %}
  <h2>Pinout</h2>
  <img src="/assets/pinouts/TYWE2S.png" title="Pinout for TYWE2S"></img>.<p>
  {% endif %}

  {% if page.chip == "TYWE3S" %}
  <h2>Pinout</h2>
  <img src="/assets/pinouts/TYWE3S.png" title="Pinout for TYWE3S"></img>.<p>
  {% endif %}

  {% if page.chip == "TYWE3L" %}
  <h2>Pinout</h2>
  <img src="/assets/pinouts/TYWE3L.png" title="Pinout for TYWE3L"></img>.<p>
  {% endif %}

  {% if page.chip == "PSF-B" %}
  <h2>Pinout</h2>
  <img src="/assets/pinouts/PSF-B.png" title="Pinout for PSF-B"></img>.<p>
  {% endif %}

  {% if page.chip == "ESP-WROOM-02" %}
  <h2>Pinout</h2>
  <img src="/assets/pinouts/ESP-WROOM-02.png" title="Pinout for ESP-WROOM-02"></img>.<p>
  {% endif %}

  {% if page.chip == "M32-V1.0" %}
  <h2>Pinout</h2>
  <img src="/assets/pinouts/M32-V1.0.png" title="Pinout for M32-V1.0"></img>.<p>
  {% endif %}

</div>

<div id="amzn-assoc-ad-c632316f-24d7-45e3-9fd2-4f1038ceddbc"></div><script async src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US&adInstanceId=c632316f-24d7-45e3-9fd2-4f1038ceddbc"></script>
